<!-- <section style="margin-top: 90px;">
    <div class="uk-position-relative  uk-visible-toggle uk-light" tabindex="-1"
        uk-slideshow="autoplay:true; min-height: 500; max-height: 500;ratio: 7:3;animation:push;">

        <ul class="uk-slideshow-items">
            <li>
                <div
                    class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                    <img src="assets\fst img\forestpicture\BlackForest-Germany-GettyImages-147180370.webp" alt=""
                        uk-cover>
                    <div class="uk-position-center uk-position-small uk-text-center uk-light" style="left: 50%;">

                        <h2 class="uk-margin-remove" style=" margin-left: 750px;color:  white; font-weight:900px">
                            Welcome To<br>
                            <marquee width="100%" direction="up" height="100px">
                                <span class="purple">Odisha <span data-typer-targets="Smart, Clean"> Forest</span>
                                    Department</span>
                            </marquee>
                            <h3 class="" style="color:white"><span class="purple"> ଓଡ଼ିଶା ଜଙ୍ଗଲ ବିଭାଗକୁ ସ୍ୱାଗତ
                                    |</span></h3>
                        </h2>
                    </div>
                </div>
            </li>
            <li>
                <div
                    class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                    <img src="assets\fst img\forestpicture\chandaka2.jpg" alt="" uk-cover>
                    <div class="uk-position-center uk-position-small uk-text-center uk-light" style="left: 45%;">

                        <h2 class="uk-margin-remove" style=" margin-left: 750px;color:  white; font-weight:900px">
                            Welcome To<br>
                            <marquee width="100%" direction="up" height="100px">
                                <span class="purple">Odisha <span data-typer-targets="Smart, Clean"> Forest</span>
                                    Department</span>
                            </marquee>
                            <h3 class="" style="color:white"><span class="purple">ଓଡ଼ିଶା ଜଙ୍ଗଲ ବିଭାଗକୁ ସ୍ୱାଗତ |</span>
                            </h3>
                        </h2>
                    </div>
                </div>
            </li>
            <li>
                <div
                    class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                    <img src="\assets\images\forest1.jpg" alt="" uk-cover>
                    <div class="uk-position-center uk-position-small uk-text-center uk-light" style="left: 45%;">

                        <h2 class="uk-margin-remove" style=" margin-left: 750px;color:  white; font-weight:900px">
                            Welcome To<br>
                            <marquee width="100%" direction="up" height="100px">
                                <span class="purple">Odisha <span data-typer-targets="Smart, Clean"> Forest</span>
                                    Department</span>
                            </marquee>
                            <h3 class="" style="color: white"><span class="purple">ଓଡ଼ିଶା ଜଙ୍ଗଲ ବିଭାଗକୁ ସ୍ୱାଗତ |</span>
                            </h3>
                        </h2>
                    </div>
                </div>
            </li>
            <li>
                <div
                    class="uk-position-cover uk-animation-kenburns uk-animation-reverse  uk-transform-origin-top-right">
                    <img src="\assets\images\forest2.jpg" alt="" uk-cover>
                    <div class="uk-position-center uk-position-small uk-text-center uk-light" style="left: 75%;">
                        <h2 class="uk-margin-remove" style="float:right; margin-left: 350px;color: white">Welcome To<br>
                            <marquee width="100%" direction="up" height="100px" style="left: 10%;">
                                <span class="purple">Odisha <span data-typer-targets="Smart, Clean"> Forest</span>
                                    Department</span>
                            </marquee>
                            <h3 class="" style="color:white"><span class="purple">ଓଡ଼ିଶା ଜଙ୍ଗଲ ବିଭାଗକୁ ସ୍ୱାଗତ |</span>
                            </h3>
                        </h2>
                    </div>
                </div>
            </li>
            <li>
                <div
                    class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-bottom-left">
                    <img src="\assets\images\forest4.jpg" alt="" uk-cover>
                    <div class="uk-position-center uk-position-small uk-text-center uk-light">
                        <h2 class="uk-margin-remove" style="float:right; margin-left: 350px; color: white"> Welcome
                            To<br>
                            <marquee width="100%" direction="up" height="100px">
                                <span class="purple">Odisha <span data-typer-targets="Smart, Clean"> Forest</span>
                                    Department</span>
                            </marquee>
                            <h3 class="" style="color: white"><span class="purple">ଓଡ଼ିଶା ଜଙ୍ଗଲ ବିଭାଗକୁ ସ୍ୱାଗତ
                                    |</span></h3>
                        </h2>
                    </div>
                </div>
            </li>

            <li>
                <div
                    class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-bottom-left">
                    <img src="\assets\images\waterfall.jfif" alt="" uk-cover>
                    <div class="uk-position-center uk-position-small uk-text-center uk-light">
                        <h2 class="uk-margin-remove" style="float:right; margin-left: 350px; color:white"> Welcome
                            To<br>
                            <marquee width="100%" direction="up" height="100px">
                                <span class="purple">Odisha <span data-typer-targets="Smart, Clean"> Forest</span>
                                    Department</span>
                            </marquee>
                            <h3 class="" style="color: white"><span class="purple">ଓଡ଼ିଶା ଜଙ୍ଗଲ ବିଭାଗକୁ ସ୍ୱାଗତ
                                    |</span></h3>
                        </h2>
                    </div>
                </div>
            </li>

            <li>
                <div
                    class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-bottom-left">
                    <img src="\assets\images\forest5.jpg" alt="" uk-cover>
                    <div class="uk-position-center uk-position-small uk-text-center uk-light">
                        <h2 class="uk-margin-remove" style="float:right; margin-left: 350px; color: white"> Welcome
                            To<br>
                            <marquee width="100%" direction="up" height="100px">
                                <span class="purple">Odisha <span data-typer-targets="Smart, Clean"> Forest</span>
                                    Department</span>
                            </marquee>
                            <h3 class="" style=" color: white"><span class="purple">ଓଡ଼ିଶା ଜଙ୍ଗଲ ବିଭାଗକୁ ସ୍ୱାଗତ |</span>
                            </h3>
                        </h2>
                    </div>
                </div>
            </li>
        </ul>


        <a class="uk-position-center-left uk-position-large uk-slidenav-large" href="#" uk-slidenav-previous
            uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-large uk-slidenav-large" href="#" uk-slidenav-next
            uk-slideshow-item="next"></a>

    </div>
</section> -->

<section>
    <marquee behavior="scroll" direction="left" style="background-color: black;">
        <a style="color: rgb(6, 6, 5);font-size: 22px; background-color: rgb(244, 222, 57);"><b>Notice : <i>This website is under Beta testing and hence no sensitive
                information
                should be entered and hence actual Citizen queries should not be posted. We will notify when the website
                is
                available for public usage.</i> </b></a>
    </marquee>
</section>

<!--  
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets\images\forest1.jpg" class="d-block w-100" alt="..." height="500px">
      </div>
      <div class="carousel-item">
        <img src="assets\images\forest2.jpg" class="d-block w-100" alt="..."  height="500px">
      </div>
      <div class="carousel-item">
        <img src="assets\images\forest4.jpg" class="d-block w-100" alt="..."  height="500px">
      </div>
      <div class="carousel-item">
        <img src="assets\images\waterfall.jfif" class="d-block w-100" alt="..."  height="500px">
      </div>
    
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->

<section>
    <div class="container-fluid">
        <div class="main-outer-div">
            <div class="welcome-div">
            <div class="welcome-inner">
            <h2 style="margin-top:-25px ;">Welcome To Forest Department</h2>
            
            <p class="rtejustify" style="margin-top: 15px;">The harvesting of the forest resources of the State as per provisions of the Working Plans was primarily being done through private contractors prior to 1962 resulted in unscientific exploitation of forests, illicit felling and removal of unrestricted Forest Produces from the Forest. Evasion and avoidance of payment of royalty and taxes also occurred in many cases. With the objective to replace the contractor system of forest working for Forest Management in Odisha and to use the forest resources for generating revenue to the State, the Government set up Odisha Forest Corporation Ltd, a Company under the Companies Act,1956, in the year 1962. .</p>
            
            <h2>Mandate</h2>
            
            <ul>
                <li style="list-style-type:square ;color: black;font-size: 18px;">To protect, develop and manage the forest.</li>
                <li style="list-style-type:square ; color: black;font-size: 18px;">To implement policies and programmes of the State Government with regard s to protection, development and management of forest and wildlife resources of the state.</li>
                <li style="list-style-type:square ; color: black;font-size: 18px;">To enforce acts, laws, rules and regulations pertaining to the protection and management of forests and wildlife.</li>
                <li style="list-style-type:square ; color: black;font-size: 18px;">To take steps for the implementation of the National Forest Policy.</li>
                <li style="list-style-type:square ; color: black;font-size: 18px;">To recruit, train and deploy forestry personnel in protection, development and management of forests and wildlife.</li>
                <!-- <li>To undertake plantations....<a href="/node/2">Read More</a></li> -->
            </ul>
            </div>
            </div>
            
            <div class="team-member-div" >
            <div class="team-member-inner">
              <h2 class="text-center" style="color:black ;" >Members</h2>
            <div class="team-member-1 team-member-body mb-2">

            <div class="team-img"><img alt="" src="\assets\images\team\dummy.jpg" /></div>
            
            <div class="team-discription mt-4">
            <p style="color:black ;"><strong>Shri Pradip Kumar Amat</strong></p>
             
            <p style="color:black ;">Hon'ble Minister For Forest</p>
            </div>
            </div>
            
            <div class="team-member-2 team-member-body">
            <div class="team-img"><img alt="" src="\assets\images\team\dummy.jpg" /></div>
            
            <div class="team-discription mt-4">
            <p style="color:black ;"><strong>Shri Pradipta Kumar Mohapatra, IAS</strong></p>
            
            <p style="color:black ;">Principal Secretary</p>
            </div>
            </div>
            
            <div class="team-member-3 team-member-body">
            <div class="team-img"><img alt="" src="\assets\images\team\dummy.jpg" /></div>
            
            <div class="team-discription mt-4">
            <p style="color:black ;"><strong>Sri. Vir Vikram Yadav,IFS</strong></p>
            
            <p style="color:black ;">Principal Chief Conservator of Forest</p>
            </div>
            </div>
            
            <div class="team-member-4 team-member-body">
            <div class="team-img"><img alt="" src="\assets\images\team\dummy.jpg"></div>
            
            <div class="team-discription mt-4">
            <p style="color:black ;"><strong>SHRI SANTOSH KUMAR IFS</strong></p>
            
            <p style="color:black ;">Additional Principal Chief Conservator of Forests &amp; Chief Wildlife Warden</p>
            </div>
            </div>
            
            <!-- <div class="team-member-5 team-member-body">
            <div class="team-img"><img alt="" src="/assets/images/minister1/pradip.jpg" /></div>
            
            <div class="team-discription">
            <p><strong>SHRI KESHAV KUMAR IFS</strong></p>
            
            <p>Chief Conservator of Forests</p>
            </div>
            </div> -->
            
            <div class="team-member-6 team-member-body">
            <div class="team-img"><img alt="" src="\assets\images\team\dummy.jpg" /></div>
            <div class="team-discription mt-4">
            <p style="color:black ;"><strong>SHRI SAURABH KUMAR IFS</strong></p>
            
            <p style="color:black ;">Chief Conservator of Forests</p>
            </div>
            </div>
            
            <div class="team-member-6 team-member-body">
            <div class="team-img"><img alt="" src="\assets\images\team\dummy.jpg" /></div>
            
            <div class="team-discription mt-4">
            <p style="color:black ;"><strong>SHRI Dr. DINESH KANNAN IFS</strong></p>
            
            <p style="color:black ;">Conservator of Forests</p>
            </div>
            </div>
            </div>
            
            <div class="video-gal-main">
            <h2 style="text-align:center;font-size: 26px;font-weight: 600;padding: 28px;">Video Gallery</h2>
            
            <div class="video-gal-inner">
            <div class="video-imgs"><a href="https://www.youtube.com/watch?v=Lj3k5c8Iz2M" rel="noopener noreferrer" target="_blank"><img src="/assets/forestpicture/05wildlife-jumbo.gif" style="width:120px ;"/></a></div>
            
            <div class="video-desc">
            <p><a href="https://www.youtube.com/watch?v=Lj3k5c8Iz2M" rel="noopener noreferrer" style="text-decoration: none;"       target="_blank">Procedure for Online Application for Registration of Commercial Tree Plantation on Private Non-Forest Land in e-District Portal Odisha Online </a></p>
            </div>
            </div>
            
            <div class="video-gal-inner">
            <div class="video-imgs"><a href="https://www.youtube.com/watch?v=ASJouwFTwJw" rel="noopener noreferrer" style="text-decoration: none;"   target="_blank"><img src="/assets/forestpicture/J2-b_G.gif" style="width:120px ;" /></a></div>
            
            <div class="video-desc">
            <p><a href="https://www.youtube.com/watch?v=ASJouwFTwJw" rel="noopener noreferrer" style="text-decoration: none;"  target="_blank">Birds Of Odisha a wonderful short film by Forest Department Of Odisha</a></p>
            </div>
            </div>
            
            <div class="video-gal-inner">
            <div class="video-imgs"><a href="https://www.youtube.com/watch?v=URwv86IHLw4" rel="noopener noreferrer"style="text-decoration: none;"   target="_blank"><img src="/assets/forestpicture/water-11.gif" style="width:120px ;"/></a></div>
            
            <div class="video-desc">
            <p><a href="https://www.youtube.com/watch?v=URwv86IHLw4" rel="noopener noreferrer" style="text-decoration: none;"   target="_blank">VAN - The Odisha's Forest Song | Odisha Forest Department | Konkani Music Video</a></p>
            </div>
            </div>


            <!-- ---------------------------------- -->






            </div>
            <!-- ----------------------------------------- -->

            <!-- <div class="title_text">Image sdfsdfdffdfGallery
              <div class="w3-content w3-display-container">
              <div class="w3-display-container mySlides"><img src="/sites/default/files/inline-images/Tiger-2.png" style="width:100%" />
              <div class="w3-display">Tiger</div>
              </div>
              
              <div class="w3-display-container mySlides"><img src="/sites/default/files/inline-images/mahavir_sanctuary_main-1.jpg" style="width:100%" />
              <div class="w3-display">Bhagwan Mahavir Sanctuary</div>
              </div>
              
              <div class="w3-display-container mySlides"><img src="/sites/default/files/inline-images/cotigao-wildlife-sanctuary.jpg" style="width:100%" />
              <div class="w3-display">Cotigao Wildlife Sanctuary</div>
              </div>
              <script>
              
              var myIndex = 0;
              carousel();
              
              function carousel() {
                var i;
                var x = document.getElementsByClassName("mySlides");
                for (i = 0; i < x.length; i++) {
                  x[i].style.display = "none";  
                }
                myIndex++;
                if (myIndex > x.length) {myIndex = 1}    
                x[myIndex-1].style.display = "block";  
                setTimeout(carousel, 2000); // Change image every 2 seconds
              }
              
              
              </script></div>
              </div>
              <div>dadsajhsadsad</div> -->
              
            <!-- --------------------------------------------- -->








            </div>

        
            
            <div class="news-updates-div">
            <div class="news-update-inner">
            <div class="info-notice">
            <h3 style="text-align: center;">Latest Updates</h3>
            
            <div class="microsoft scroll tender">
            <div class="marquee">
            <div class="notice">
            <ul>
                <li class="rtejustify"><a href="/sites/default/files/2022-09/Wildlife-week-celebration-2022.jpeg" style="text-decoration:none ;" target="_blank">Wildlife week Celebration 2022 </a></li>
                <li class="rtejustify"><a href="/sites/default/files/2022-09/Rules%20and%20regulations%20wildlife%20week%202022%20Final.pdf" style="text-decoration:none ;"  target="_blank">Rules and regulations wildlife week 2022</a></li>
                <li class="rtejustify"><a href="/sites/default/files/2022-06/Research%20Proposal%20on%20Forestry%2C%20Wildlife%2C%20Ecology%20%26%20Environmental%20Condition%20of%20the%20State%20of%20Odisha%20.PDF" style="text-decoration:none ;"  target="_blank">Research Proposal on Forestry, Wildlife, Ecology &amp; Environmental Condition of the State of Odisha</a></li>
                <li class="rtejustify"><a href="/sites/default/files/2022-06/Topics%20of%20Research%20proposals.pdf" style="text-decoration:none ;"  target="_blank">Topics of Research proposals</a></li>
                <li class="rtejustify"><a href="/sites/default/files/2022-06/Winners%20of%20short%20documentary%20film%20Competition%20.pdf" style="text-decoration:none ;"  target="_blank">Winners of Short Documentary Film competition, 70th Wildlife Week 2021</a></li>
                <li class="rtejustify"><a href="/sites/default/files/2022-06/Results-of%20-online-offline-competions-held-70th-wildlife-week-2021.jpeg" style="text-decoration:none ;" target="_blank">Results of Online and Offline Competitions Held on the Occasion of 70th Wildlife Week, 2021</a></li>
                <li class="rtejustify"><a href="/sites/default/files/2022-06/Corrigendum-forest-1.pdf" style="text-decoration:none ;"  target="_blank">Corrigendum: Notification For Filling Up Various Posts in Forest Department</a></li>
                <li class="rtejustify"><a href="/sites/default/files/2022-06/Notification%20for%20filling%20up%20various%20posts%20in%20Forest%20Department.pdf" style="text-decoration:none ;"  target="_blank">Notification For Filling Up Various Posts in Forest Department</a></li>
                <li class="rtejustify"><a href="/sites/default/files/2022-06/Revised-instructions-to-candidates.pdf" style="text-decoration:none ;"  target="_blank">Revised Instructions to Candidates Towards Filling Up Various Posts in Forest Department</a></li>
                <li class="rtejustify"><a href="/sites/default/files/2022-06/Winners%20of%20Wildlife%20Week%202021.pdf" style="text-decoration:none ;"  target="_blank">Winners of Wildlife Week 2021</a></li>
                <li class="rtejustify"><a href="/sites/default/files/2022-06/wildlife-week-awareness-campaign-2021.pdf" target="_blank">Notice:- Wildlife Week Awareness Campaign 2021</a></li>
                <li class="rtejustify"><a href="/sites/default/files/2022-06/Review%20of%20Private%20Forest%20Areas.pdf" target="_blank">Review of Private Forest Areas Identified by the State Level Expert Committee (Thomas And Araujo Committee)</a></li>
                <li class="rtejustify"><a href="/sites/default/files/2022-06/After date representations.xlsx" target="_blank">List of objection &amp; representations received as on date (26-03-2021)</a></li>
                <li class="rtejustify"><a href="sites/default/files/Ground-Verification-of-the-Private-Forest.pdf" target="_blank">Ground Verification of the Private Forest</a></li>
                <li class="rtejustify"><a href="sites/default/files/IMG_0002.pdf" style="text-decoration:none ;"  target="_blank">Public notice regarding shifting of Forest Department Premises</a></li>
                <li class="rtejustify"><a href="sites/default/files/Advertisment.pdf">Scheme for Developement &amp; cultivation of Medicinal Plants</a></li>
                <li class="rtejustify"><a href="sites/default/files/format-for-expression-of-interest.pdf">Format for expression of interest</a></li>
                <li class="rtejustify"><a href="sites/default/files/MEDICINAL-PLANTS-SUBSIDY-SCHEME.pdf">Medicinal Plants Subsidy Scheme</a></li>
            </ul>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            
            <!-- <div class="tenders-div">
            <div class="tender-div-inner">
            <div class="info-notice">
            <h3 style="text-align: center;">Tenders</h3>
            
            <div class="microsoft scroll tender">
            <div class="marquee">
            <div class="notice">
            <ul>
                <li class="rtejustify"><a href="/sites/default/files/2022-09/Tender%20notice%20for%20collection%20of%20Cashew%20nuts%20and%20apples%20from%20the%20Cashew%20plantqations%20%26%20estates.pdf">Tender notice for collection of Cashew nuts and apples from the Cashew plantations &amp; estates</a></li>
                <li class="rtejustify"><a href="/sites/default/files/2022-06/forest-dpt-tender.pdf">E-Tender Notice: Construction of toilet blocks.</a></li>
            </ul>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
         -->


            

           
            </div>
          </div>
</section>

